.input-container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    width: max-content;
    padding: 5px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .input {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
  }
  